body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-wrapper {
    font-size: 24px;
}

#timetext {
    position: relative;
    top: -330px;
    left: 120px;
    width: 350px;
    height: 80px;
    text-align: center;
    font-size: 54px;
    color: grey;
    font-family: 'Helvetica';
}

.time {
    all: unset;
    width: 50px;
    font-size: 32px;
    font-family: 'Helvetica';
    text-align: center;
    color: #2da1ff;
}

#timeInput {
    all: unset;
    background: grey;
}

.control {
    margin: 50px;
    font-size: 32px;
    cursor: pointer;
}